---
title: Home
heading: 'Find the place you love ...'
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <form class="form-inline" role="form">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <input class="form-control" type="text" placeholder="Search nearby or enter any City, State or Zip" />
      </div>
      <div class="form-group">
        <a class="btn btn-default">Search</a>
      </div>
    </div>
  </form>
</div>
