<div class="col-md-2 col-sm-6">
  <h4>For Renters</h4>
  {{#times 5}}
  <a href="#">SEO Link</a><br />
  {{/times}}
</div>
<div class="col-md-4 col-sm-6">
  <h4>Search by City</h4>
  {{#times 20}}
  <a href="#">City Name</a>
  {{/times}}
</div>
<div class="col-md-2 col-sm-6">
  <h4>MyNewPlace</h4>
  {{#times 4}}
  <a href="#">Link</a><br />
  {{/times}}
</div>
<div class="col-md-3 col-sm-6">
  <h4>About</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
